DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

DB_NAME=gestao_rural
DB_USER=gestao_rural_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

MAX_PDF_UPLOAD_SIZE_MB=10

GEMINI_API_KEY=
GEMINI_MODEL=
GEMINI_TIMEOUT_SEGUNDOS=60
GEMINI_MAX_TENTATIVAS=3
